body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

#typewriter {
    border-right: 2px solid #fff;
    white-space: nowrap;
    overflow: hidden;
    animation: blinkCursor 0.75s step-end infinite;
}

@keyframes blinkCursor {
    from, to {
        border-right-color: transparent;
    }
    50% {
        border-right-color: #fff;
    }
}