body {
    background-color: #141b1e;
    color: #dadada;
}
nav ul {
    margin: 0;
    padding: 0;
    background-color: #232a2d;
}
nav ul li {
    display: inline;
    color: #e5c76b;
}
nav ul li a {
    text-decoration: none;
    color: #b3b9b8;
    transition: 0.3s;
}
nav ul li a:hover {
    text-decoration: overline;
    color: #e57474;
}